
<div class="container-fluid">
  <div class="row">
    <div class="col-4 pt-2">
      <!-- MENU -->
      <div *ngFor="let app of apps">
        <button type="button" [routerLink]="[app.route]" class="btn btn-block btn-light mb-2">{{app.title}}, {{app.id}}</button><!-- (click)="loadApp(app.key)"  -->
      </div>
      <div>
        <button type="button" [routerLink]="['/settings']" class="btn btn-block btn-light mb-2">Settings</button>
      </div>
    </div>
    <div class="col-8 pt-2">
      <router-outlet>
        <ng-template>Loading...</ng-template>
      </router-outlet>
    </div>
  </div>
</div>

